//Colores
$azul: #7ac6bf;
$grisoscuro: #374048;
$azul20: #ecf5fc;
$grisclaro: #f8fbfd;
$grismedio: #9a9a9a;
$white95: rgba(255,255,255,0.95);
$black10: rgba(0,0,0,0.1);
$black80: rgba(0,0,0,0.8);

//Colores base
$white: #ffffff;
$black: #000000;

