.section-header .wpcf7{
    
    p{
        max-width: 100%;
        
        label{
            width: 100%;
            
            input{
                width: 100%;
            }
        }
    }
}

span.wpcf7-list-item{
    width: 20px;
}